* {
  font-family: $font-text;
  color: $color-black-light;
  line-height: $line-height-text;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}


// ---------------------------------------------------------------------------------------------------------------------
  // Classes
// ---------------------------------------------------------------------------------------------------------------------
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}