// ---------------------------------------------------------------------------------------------------------------------
  // Colors
// ---------------------------------------------------------------------------------------------------------------------
$color-black: #000;
$color-black-light: #333;
$color-gray-dark: #666;
$color-gray: #ccc;
$color-gray-light: #e4ded9;
$color-red-dark: #9a2532;
$color-red: #d61c4e;
$color-rose: #ffa5bd;
$color-green: #74b271;
$color-green-light: #c3e6bb;
$color-orange-dark: #f99843;
$color-orange: #ffcda1;
$color-orange-light: #fef1e7;
$color-white: #fff;


// ---------------------------------------------------------------------------------------------------------------------
  // Text
// ---------------------------------------------------------------------------------------------------------------------
$font-heading: 'Coiny', cursive;
$font-text: 'Poppins', sans-serif;

$line-height-text : 24px;


// ---------------------------------------------------------------------------------------------------------------------
  // Spacing
// ---------------------------------------------------------------------------------------------------------------------
$spacing: 10px;